body{
background: url('./img/morning.jpg') no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
text-shadow: 2px 2px 4px #000000;
}

.container{
    margin:auto;
    text-align: center;
    width: 50%;
    padding: 15em 0 10em 0;
    color: #fff;
}

#time{
    font-size: 5em;
}

#name,#focus{
    outline: none;
}

#focus{
    font-size: 25px;
}